---
layout: default
title: Das Projekt
permalink: /about/
---

<!-- include hero  -->
{% assign quotes = "Über das Projekt" | split: '|' %}
{% include partials/hero.liquid  %}

<!-- intro -->
<div class="row">
    <section class="section bg-grey col-xs-24">
        <div class="text-wrap text-block bg-white fade-in">
            <p>Das ‘Open Data Schulprojekt’, welches die initiale Idee für dieses Projekt lieferte, begann mit einer 2013 veröffentlichten Studie zum Thema Open Data des Fraunhofer Fokus Instituts, die unter anderem folgendes besagte:</p>
            <blockquote>“Offene Verwaltungsdaten bergen [...] prinzipiell die Chance einer neuen Bildungsgestaltung (Open Educational Resources).“</blockquote>
            <p>Um der These nachzugehen, formierte sich eine Kooperation zwischen der Verwaltung der Stadt Moers, dem Gymnasium Adolfinum, der Hochschule Rhein-Waal und dem Open Knowledge Lab Niederrhein⁴. Der zeitlich Ablauf war hierbei wie folgt:</p>
            <ol class="timeline">
                <li><p>Das ‘Open Data Schulprojekt’ entstand als eines von mehreren Wahlprojekten des Fachs ‘New Public Management’ im Studiengang E-Government an der Hochschule Rhein-Waal. Zu Beginn bestand die Projektgruppe aus 3 Studenten. (Oktober 2013)</p></li>
                <li><p>Gemeinsam mit Thomas Nolte, Lehrer und Ansprechpartner des Kooperationspartners Gymnasium Adolfinum, wurde der Datenbestand mit dem Lehrplan abgeglichen um Schnittmengen und Potenziale aufzudecken. Die Entscheidung fiel auf die Fächer Sozialwissenschaften und Politik.</p></li>
                <li><p>Nach einer Einführung in das Thema Open Data am Adolfinum wurden von den Schülern in Brainstorm-Sessions Ideen für Open Data Anwendungen entwickelt. Die Ideen wurden in einer weiteren Klasse als Papier-Prototypen aufgearbeitet.</p></li>
                <li><p>Basierend auf den Ideen der Schüler wurden von den Studenten Anwendungen, wie das Wahlergebnis-Portal und die erste Haushaltsvisualisierung, programmiert und im Unterricht eingesetzt. Ein <a href="http://wikifinum.zum.de/wiki/Open-Data" target="_blank">Wiki</a> wurde zu Dokumentationszwecken genutzt.</p></li>
                <li><p>Das Projekt ‘DatenmachenSchule’ entstand 2017. Die zuvor entwickelten Erkenntnisse und Erfahrungen wurden gesammelt und in Form dieses Leitfadens und der dazugehörigen Webseite aufgearbeitet. Dabei wurde das <strong>Wahlergebnisportal und das Tool OffenerHaushalt</strong>, basierend auf Feedback aus dem Projekt, technisch und visuell neu aufgesetzt und mit neuen Daten bespielt, um deren Nachnutzung zu begünstigen.</p></li>
            </ol>
            <p style="margin-bottom:30px;">Durch die Zusammenarbeit von Schülern, Studenten, Lehrern,  Verwaltungsmitarbeitern, und  zivilgesellschaftlichen Akteuren wurde somit in einer einzigartigen Interessengemeinschaft für den Einsatz offener Daten im Unterricht gearbeitet. Die dabei entstandenen digitalen Werkzeuge, die es ohne den initialen Einsatz der Beteiligten nicht geben würde, zeigen nun in ihrer überarbeiteten Form die Chancen und Potenziale auf, die dem Einsatz offener Daten im Unterricht innewohnen. Die Nutzung diese Tools sowie die Entwicklung gänzlich neuer Ideen soll dadurch stimuliert werden.</p>
            <!-- an image -->
            {% include partials/content/content-image.liquid src="/assets/img/static/image.png" caption="Von den Schülern entwickelter Papierprototyp" %}
            <!-- an image -->
            {% include partials/content/content-image.liquid src="/assets/img/static/image.png" caption="Von den Studenten der Hochschule Rhein-Waal entwickelte Kartenvisualisierung" %}
            <div class="footnotes">
                <p>
                    ⁴ Die OKLabs sind Teil des Projektes ‘Code for Germany’ der Open Knowledge Foundation Deutschland.
                </p>
            </div>
        </div>
    </section>
</div>
<!-- include leitfaden section -->
{% include sections/leitfaden.liquid %}



