---
layout: default
---
<!-- include hero  -->
{% assign quotes = "Wofür werden unsere Steuergelder ausgegeben, und warum?|Wieso wird in bestimmten Teilen meiner Stadt so viel AfD gewählt?|Wie hoch ist die Luftverschmutzung bei uns (wirklich)?" | split: '|' %}
{% include partials/hero.liquid  %}
<!-- intro -->
<div class="row">
    <section class="section bg-grey col-xs-24">
        <div class="text-wrap text-block bg-white fade-in">
            <p>DatenmachenSchule.de ist ein Ort, an dem exemplarisch dargestellt wird, welche Potentiale in dem Einsatz <a href="/opendata">Offener Daten</a> im Unterricht liegen. Basierend auf der Pionierarbeit der <b>Hochschule Rhein-Waal</b>, dem <b>Gymnasium Adolfinum</b>, der <b>Stadt Moers</b> und dem <b>OK-Lab Niederrhein</b> wurden <a href="/tools-formate-skills">Informationen und Ressourcen</a> zusammengetragen, die es Lehrern und Schulen ermöglichen und erleichtern sollen, auf offenen Daten basierende Anwendungen einzusetzen. Das Tool <a href="https://offenerhaushalt.de">OffenerHaushalt.de</a> wurde dazu technisch und strukturell neu aufgesetzt, um Daten zu <b>Steuerausgaben</b> zu visualisieren und dadurch anschaulich und greifbar zu machen.
            </p>
        </div>
    </section>
</div>
<!-- offener haushalt -->
<div class="row">
    <section class="section section-offener-haushalt tool-teaser bg-grey col-xs-24">
        <div class="tool-read-more">
            <h2 class="headline-read-more">
                <span class="mobile">Offener Haushalt</span>
                <span class="large">Offener Haushalt</span>
            </h2>
            <a class="btn-read-more" href="/tools/offener-haushalt" >weiterlesen</a>
        </div>
    </section>
</div>
<div class="row">
    <section class="section section-wahlergebnisportal tool-teaser bg-grey col-xs-24">
        <div class="tool-read-more">
            <h2 class="headline-read-more">
                <span class="mobile">Tools, Formate, Skills</span>
                <span class="large">Tools, Formate, Skills</span>
            </h2>
            <a class="btn-read-more" href="/tools-formate-skills" >weiterlesen</a>
        </div>
    </section>
</div>
<!-- wahlergebnisportal
<div class="row">
    <section class="section section-wahlergebnisportal tool-teaser bg-grey col-xs-24">
        <div class="tool-read-more">
            <h2 class="headline-read-more">
                <span class="mobile">Wahlergebnis-<br/>portal</span>
                <span class="large">Wahlergebnisportal</span>
            </h2>
            <a class="btn-read-more" href="/tools/wahlergebnisportal" >weiterlesen</a>
        </div>
    </section>
</div>
<!-- energieverbrauchsdaten
<div class="row">
    <section class="section section-energieverbrauchsdaten tool-teaser bg-grey col-xs-24">
        <div class="tool-read-more">
            <h2 class="headline-read-more">
                <span class="mobile">Energie-<br/>verbrauchs-<br/>daten</span>
                <span class="large">Energieverbrauchsdaten</span>
            </h2>
            <a class="btn-read-more" href="/tools/energieverbrauchsdaten" >weiterlesen</a>
        </div>
    </section>
</div>
-->
<!-- include leitfaden section -->
{% include sections/leitfaden.liquid %}



