---
layout: default
---
<!-- include hero  -->
{% assign quotes = "Wofür werden unsere Steuergelder ausgegeben, und warum?|Wieso wird in bestimmten Teilen meiner Stadt so viel AfD gewählt?|Wie hoch ist die Luftverschmutzung bei uns (wirklich)?" | split: '|' %}
{% include partials/hero.liquid  %}
<!-- intro -->
<div class="row">
    <section class="section bg-grey col-xs-24">
        <div class="text-wrap text-block bg-white fade-in">
            <p>DatenmachenSchule.de ist ein Ort, an dem an drei Beispielen exemplarisch dargestellt wird, welche Potentiale in dem Einsatz <a href="/tools/offene-daten">Offener Daten</a> im Unterricht liegen. Basierend auf der Pionierarbeit der Hochschule Rhein-Waal, dem Gymnasium Adolfinum und der Stadt Moers wurden Anwendungen geschaffen, die Daten zu Wahlergebnissen, Steuerausgaben, und Energieverbrauch in Moers visualisieren und dadurch anschaulich und greifbar machen.
                Zu jeder Anwendung sind Beispielaufgaben, Unterrichtskonzepte, und Vorschläge zur Lehrplanintegration bereitgestellt.
            </p>
        </div>
    </section>
</div>
<!-- offener haushalt -->
<div class="row">
    <section class="section section-offener-haushalt tool-teaser bg-grey col-xs-24">
        <div class="tool-read-more">
            <h2 class="headline-read-more">
                <span class="mobile">Offener Haushalt</span>
                <span class="large">Offener Haushalt</span>
            </h2>
            <a class="btn-read-more" href="/tools/offener-haushalt" >weiterlesen</a>
        </div>
    </section>
</div>
<div class="row">
    <section class="section section-wahlergebnisportal tool-teaser bg-grey col-xs-24">
        <div class="tool-read-more">
            <h2 class="headline-read-more">
                <span class="mobile">Tools, Formate, Skills</span>
                <span class="large">Tools, Formate, Skills</span>
            </h2>
            <a class="btn-read-more" href="/tools-formate-skills" >weiterlesen</a>
        </div>
    </section>
</div>
<!-- wahlergebnisportal
<div class="row">
    <section class="section section-wahlergebnisportal tool-teaser bg-grey col-xs-24">
        <div class="tool-read-more">
            <h2 class="headline-read-more">
                <span class="mobile">Wahlergebnis-<br/>portal</span>
                <span class="large">Wahlergebnisportal</span>
            </h2>
            <a class="btn-read-more" href="/tools/wahlergebnisportal" >weiterlesen</a>
        </div>
    </section>
</div>
<!-- energieverbrauchsdaten
<div class="row">
    <section class="section section-energieverbrauchsdaten tool-teaser bg-grey col-xs-24">
        <div class="tool-read-more">
            <h2 class="headline-read-more">
                <span class="mobile">Energie-<br/>verbrauchs-<br/>daten</span>
                <span class="large">Energieverbrauchsdaten</span>
            </h2>
            <a class="btn-read-more" href="/tools/energieverbrauchsdaten" >weiterlesen</a>
        </div>
    </section>
</div>
-->
<!-- include leitfaden section -->
{% include sections/leitfaden.liquid %}



