---
layout: default
title: Was ist Open Data?
permalink: /opendata/
---

<!-- include hero  -->
{% assign quotes = "Offene Daten im Unterricht" | split: '|' %}
{% include partials/hero.liquid  %}

<!--
<div class="row">
    <section class="section bg-red col-xs-24 white centered">
        <ul class="opendata-list">
            <li><a href="#offene-daten">Was sind Offene Daten?</a></li>
            <li><a href="#unterricht">Warum ist das für den Unterricht relevant</a></li>
            <li><a href="#open-government">Open Government</a></li>
            <li><a href="#beachten">Was gibt es zu beachten</a></li>
            <li><a href="#datenquellen">Datenquellen</a></li>
        </ul>
    </section>
</div>
-->
<!-- accordion -->
<div class="row">
    <section class="section bg-grey col-xs-24">
        <div class="accordions-wrap">
            <div id="offene-daten" class="accordion fade-in">
                {% include partials/accordion/accordion-header.liquid headline="Was sind Offene Daten?" %}
                <div class="accordion-content">
                    <div class="accordion-content-inner text-wrap">
                        <p>Viele Bestandteile unseres Lebens sind heutzutage in digitaler Form als Daten abgebildet. Man weiß um die invasiven Formen dieses Umstands: Facebook und Co haben sich den Handel mit privaten Informationen zum Geschäft gemacht.<br/><br/>

                            Es gibt jedoch auch Daten, die öffentliche Aspekte der Gesellschaft beschreiben und die aus guten Gründen öffentlich sein müss(t)en: Dazu gehören <b>Wahlergebnisse</b>, <b>Steuerausgaben</b>, und <b>Messwerte zur Luftverschmutzung</b>. Diese Daten, in der richtigen Form vorhanden, nennt man <b>offene Daten</b>. Man unterscheidet hier zwischen verschiedenen Arten: so gibt es u.a. offene Verkehrsdaten, Geo- und Umweltdaten, Kulturdaten, und mehr.<br/><br/>

                            Die wichtigsten Eigenschaften offener Daten, wie in der offiziellen Definition (<a href="http://opendefinition.org/od/2.0/de/ ">Open Definition</a>) beschrieben, sind:
                            <ol> 
                        <li><b>Verfügbarkeit und Zugang</b>: Die Daten sollen als Ganzes verfügbar sein, zu Kosten, die nicht höher als die Reproduktionskosten sind, vorzugsweise zum gebührenfreien Download im Internet. Sie sollen dabei in einer zweckmäßigen und modifizierbaren Form verfügbar sein.</li>
                        <li><b>Wiederverwendung und Nachnutzung</b>: Die Daten müssen unter denjenigen Bedingungen bereitgestellt werden, die die Wiederverwendung, Nachnutzung und Verbindung mit anderen Datensätzen erlauben. Die Daten müssen maschinenlesbar sein.</li> 
                        <li><b>Universelle Beteiligung</b>: Jede Person muss in der Lage sein, die Daten zu nutzen, wiederzuverwenden und nachzunutzen. Es darf keine Diskriminierung gegen Handlungsfelder, Personen oder Gruppen vorliegen. Die Nachnutzung darf also nicht auf einzelne Bereiche begrenzt werden (z.B. nur in der Bildung), noch dürfen bestimmte Nutzungsarten (z.B. für kommerzielle Zwecke) ausgeschlossen sein.</li>
                            </ol></p>

                        </p>
                    </div>
                </div>
            </div>
            <div id="unterricht" class="accordion fade-in">
                {% include partials/accordion/accordion-header.liquid headline="Von Open Data zu Open Government" %}
                <div class="accordion-content">
                    <div class="accordion-content-inner text-wrap">
                           <p>Von besonderem Interesse für dieses Projekt und die Anwendung im Unterricht sind <strong>offene Regierungs- und Verwaltungsdaten</strong>. Konkret sind damit Daten gemeint, die:<br/></p>
                            <ul>
                        <li>staatliche Handlungen und Entscheidungsprozesse beschreiben</li>
                        <li>von der Regierung oder von staatlich kontrollierten Unternehmen produziert werden</li>
                        <li>offen sind, wie es in der Open Definition definiert wird: das heißt, sie können frei verwendet, wiederverwendet und von jedem verteilt werden</li>
                        <li>nicht sensibel oder privat sind</li>
                    </ul>
                    </p>
                    <p>
                    Offenes Regierungshandeln (Open Government) ist als ganzheitlicher Ansatz zur Belebung der Demokratie zu verstehen. Transparentes Regierungs- und Verwaltungshandeln stellt dafür die Grundlage dar. Es geht allerdings nicht allein darum, eine große Menge von Daten on- und offline zur Verfügung zu stellen, sondern auch darum, Bürgerinnen und Bürgern aktiv in die politischen Entscheidungsfindungprozesse miteinzubeziehen.</p>

                        <p>Richtig umgesetzt wird Open Government deshalb mittel- bis langfristig eine nachhaltige Änderung der politischen Kultur zur Folge haben. Die bisherige Kultur der politischen Beteiligung, die fast ausschließlich auf Wahltermine begrenzt war, wird sich zu einer Kooperationskultur entwickeln, die die Zusammenarbeit zwischen Politik und Gesellschaft verstetigt und intensiviert. Die Hinwendung zu Open Government bedeutet so den Abbau von Politikverdrossenheit und einer rein negativen Protestkultur. Die Bundesrepublik kann von einer 
                            <p>Zunächst sind die Informationen, die sich aus offenen Daten ziehen lassen, jedoch in Zahlenreihen verborgen, die wiederum in Tabellen, Dateien, und Datenbanken zu finden sind. Um die Daten ‘zum sprechen’ zu bringen, benötigt man Wege, um diese darzustellen, zu verarbeiten, und zu analysieren. Dies geschieht mit Hilfe von Anwendungen wie Apps, Kartendarstellungen, Graphen, und anderen Visualisierungsformen.</p>

                        <p>Auf DatenmachenSchule.de stehen drei dieser Anwendungen bereit, die Wahldaten, Haushaltsdaten, und Energieverbrauchsdaten darstellen. Dadurch wird verdeutlicht, welche Eigenschaften, Funktionen diese Anwendungen haben, und zwar auf der Basis von Daten, <strong>die es in jeder Stadt, Gemeinde, und in jedem Bundesland in Deutschland gibt</strong>, wenn auch nicht immer in der passenden Form (mehr dazu später). Im Zuge dieses Projektes lag der Fokus zunächst auf Haushaltsdaten und der zugehörigen Anwendung, <a href="/offener-haushalt">‘OffenerHaushalt’</a>, die strukturell und technisch neu aufgesetzt wurde. Dazu wurden Anleitungen und Erklärungs-Ressourcen entwickelt, die den Prozess, neue Datensätze hinzuzufügen, die Anforderungen an die Datenqualität, und die Funktionen erklären.</p>
                        </p>
                    </div>
                </div>
            </div>
            <div id="unterricht" class="accordion fade-in">
                {% include partials/accordion/accordion-header.liquid headline="Warum ist das für den Unterricht relevant?" %}
                <div class="accordion-content">
                    <div class="accordion-content-inner text-wrap">
                        <p>Der Einsatz offener Daten im Klassenraum hingegen hat bisher (zu) wenig Beachtung gefunden. Damit bleibt ein wahrer Schatz an Daten weitgehend unbeachtet, der nicht nur dazu dienen könnte, staatliche Aufgaben und Entscheidungen transparenter zu machen, sondern auch dazu, bisher weitestgehend statische Unterrichtsmaterialien und Diskussionsgrundlagen durch unmittelbare und relevante Informationen zu ersetzen.</p>

                        <p>Die Anwendungen, die dadurch erstellt werden können, machen komplexe Sachverhalte im Unterricht greifbar und verständlich. Durch Visualisierungen, die reale und konkrete Datensätze darstellen, können bspw. fachliche Fragen aus dem Politik- und Sozialkundeunterricht mit direktem Bezug auf die unmittelbare Umgebung diskutiert werden.</p>

                        <p>Offene Daten bieten ein breites Einsatzspektrum im Unterricht. Die Verwaltung einer Gemeinde verstehen lernen, Arbeitsblätter auf Basis von örtlichen Daten kreieren, interaktive Tools im Unterricht einsetzen, Apps vom Prototyp bis zur fertigen Anwendung entwickeln? Auch mit der oftmals begrenzten technischen Ausstattung der Schulen von heute kann, zumindest theoretisch, in vielen Themen- und Aufgabenbereichen gearbeitet werden. Die konkreten Möglichkeiten sind dabei abhängig von der jeweiligen <strong>Datenlage</strong>, der <strong>Altersgruppe</strong>, und dem <strong>Unterrichtsfach</strong>.</p>

                    </div>
                </div>
            </div>
            <div id="open-government" class="accordion fade-in">
                {% include partials/accordion/accordion-header.liquid headline="Open Government" %}
                <div class="accordion-content">
                    <div class="accordion-content-inner text-wrap">
                        <p>solchen Entwicklung nur profitieren.</p>

                    </div>
                </div>
            </div>
            <div id="beachten" class="accordion fade-in">
                {% include partials/accordion/accordion-header.liquid headline="Was gibt es zu beachten?" %}
                <div class="accordion-content">
                    <div class="accordion-content-inner text-wrap">
                        <p>Ein wichtiger Punkt ist die Frage der technischen Ausstattung der jeweiligen Schulen. Noch sind letztere weit davon entfernt, Computergeräte für jede Schülerin und jeden Schüler bereitstellen zu können. Im Resultat sind die meisten der vorgestellten Anwendungen in ihrem vollen Potenzial nur unter Nutzung etwaiger Computerräume möglich. Doch gerade aus diesem Umstand heraus entsteht die Wichtigkeit, Relevanz, und Notwendigkeit digitaler Bildungsangebote, denn nur bei einem ausreichenden Angebot wird deutlich, welche Chancen und Potenziale in ihnen zu finden sind, was wiederum die beste Argumentationsgrundlage ist, um die Einforderung besserer technischer Ausrüstungen zu legitimieren. Dennoch wird im folgenden auch auf Anwendungsbeispiele verwiesen, die mit begrenztem oder nur lehrerseitigem Zugang zu Computern möglich sind.</p>

                            <blockquote>Offene Daten gibt es überall, nur nicht immer in der richtigen Form.</blockquote>

                            <p>Trotz vieler Bemühungen und einiger Orte mit Leuchtturmcharakter¹ ist die Datenlage nicht immer optimal. Oft liegen Datensätze beispielsweise im PDF-Format vor, und müssen zunächst in ein maschinenlesbares Format umgewandelt werden. Besser sind hier beispielsweise .csv² oder .tsv³ Dateien, die direkt in die Tools eingelesen werden können, auch wenn hier die Formatierung und weitere technische Faktoren eine große Rolle spielen. Im besten Fall sind die Daten über eine Schnittstelle (API) abgreifbar.</p>

                        <p>Für die hier vorgestellten Tools liegen dazu Beschreibungen bereit, die für die Datenbereitsteller gedacht sind. Interessierte Lehrer können diese an ihre örtlichen Verwaltungen schicken, um so zu versuchen, die benötigten Daten im richtigen Format zu bekommen. Verwaltungen können diese an ihre jeweiligen Rechenzentren bzw. Datenverarbeiter weiterreichen. Wichtig ist: insofern die benötigten Daten in den richtigen Formaten vorliegen, ist eine Erweiterung der dargestellten Werte mit relativ geringem Aufwand auf jede Kommune oder Stadt denkbar.</p>

                        <div class="footnotes">
                            <p>
                                ¹ Siehe <a href="http://offenesdatenportal.de" target="_blank">http://offenesdatenportal.de</a></br>
                                ² <a href="https://de.wikipedia.org/wiki/CSV_(Dateiformat)" target="_blank">https://de.wikipedia.org/wiki/CSV_(Dateiformat)</a></br>
                                ³ <a href="https://de.wikipedia.org/wiki/TSV" target="_blank">https://de.wikipedia.org/wiki/TSV</a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
            <div id="datenquellen" class="accordion fade-in">
                {% include partials/accordion/accordion-header.liquid headline="Datenquellen" %}
                <div class="accordion-content">
                    <div class="accordion-content-inner text-wrap">
                        <p>Für dieses Projekt und die genutzten Tools wurden bereits Datensätze eingepflegt. Generell gibt es In Deutschland sehr unterschiedliche Datens(ch)ätze. Dadurch, dass es die Bundesrepublik (mit verschiedenen Ministerien), die Bundesländer (wieder mit verschiedenen Ministerien), dann die Landkreise und dann die Kommunen gibt, für die jeweils unterschiedliche Gesetze gelten, bekommt man unterschiedlich viele offene Daten – je nachdem, wo man sucht.</p>
                        <p><a href="http://opendata.tursics.de/?page=Data&level=all&dataset=portals&country=DE&lat=52.516&lng=13.4795&zoom=6" target="_blank">http://opendata.tursics.de/</a></p>

                        <p>Es kann zum Beispiel sein, dass manche Landkreise in einem Bundesland Geodaten herausgeben, andere nicht – und manche Landkreise die Daten in ihrem Landesportal einstellen, und andere wiederum nicht. In naher Zukunft wird die Situation hoffentlich wie in Österreich sein, wo offene Daten in zwei zentralen Portalen gesammelt werden. Das ist ein großer Vorteil, weil Nutzer*innen nicht lange danach suchen müssen und einen guten Überblick haben, welche Daten bereits offen sind: momentan muss man aber noch die folgenden Portale nutzen:</p>

                        <h3>Govdata.de</h3>
                        <p>
                            Manche Datensätze der Länder und Kommunen landen bereits auf der bundesweiten Plattform GovData.de – aber leider nicht alle.
                            <a href="https://www.govdata.de" target="_blank">https://www.govdata.de</a>
                        </p>

                        <h3>Open NRW</h3>
                        <p>
                            Open NRW ist ein Pilotprojekt der Landesregierung von Nordrhein-Westfalen. Hierbei geht es nicht nur um die Bereitstellung von offenen Daten, sondern auch um Informationen, Antworten auf Fragen und Ideen zur Zusammenarbeit unter Bürgern. Open NRW stellt uns 2662 Datensätze aus ganz Nordrhein-Westfalen zur freien Verfügung, davon stammen 299 aus Moers (Stand: 07/2017).
                        </p>

                        <h3>Niederrhein: Das Offene Datenportal</h3>
                        <p>
                            Das Offenes Datenportal ist eine Sammlung von Datensätzen, die von einigen Städten am Niederrhein zusammengetragen werden. Das Portal umfasst 591 Dateien, davon kommen 291 aus Moers, das in Sachen offene Daten mit gutem Beispiel vorangeht (Stand: 07/2017).
                        </p>

                        <h3>Bundesministerien</h3>
                        <p>
                            Manche Ministerien betreiben zudem eigene Datenportale – deren Daten aber leider nicht immer auch auf GovData gefunden werden können. Wetter- und Verkehrsdaten des Bundes gibt es beispielsweise auf <a href="https://www.mcloud.de" target="_blank">https://www.mcloud.de</a>, den MobilitätsDatenMarktplatz auf <a href="http://www.bmvi.de/SharedDocs/DE/Artikel/DG/mobilitaets-daten-marktplatz.html" target="_blank">http://www.bmvi.de</a>, und das Datenportal des Bildungs- und Forschungsministeriums auf <a href="http://www.datenportal.bmbf.de/portal/de/index.html" target="_blank">http://www.datenportal.bmbf.de</a>.
                        </p>

                        <h3>Landesportale</h3>
                        <p>
                            Zusätzlich betreiben einige Bundesländer eigene Datenportale:
                            <ul>
                        <li>Bayern: <a href="https://opendata.bayern.de" target="_blank">https://opendata.bayern.de</a></li>
                        <li>Baden-Württemberg: Datenportalprototyp derzeit nicht mehr in Betrieb</li>
                        <li>Berlin: <a href="https://daten.berlin.de/" target="_blank">https://daten.berlin.de/</a></li>
                        <li>Brandenburg: Kein Datenportal bekannt</li>
                        <li>Bremen: <a href="http://transparenz.bremen.de/" target="_blank">http://transparenz.bremen.de/</a></li>
                        <li>Hamburg: <a href="http://transparenz.hamburg.de/open-data/" target="_blank">http://transparenz.hamburg.de/open-data/</a></li>
                        <li>Hessen (nur Geodaten): <a href="http://www.geoportal.hessen.de/" target="_blank">http://www.geoportal.hessen.de/</a></li>
                        <li>Mecklenburg-Vorpommern: <a href="https://www.geoportal-mv.de/portal/" target="_blank">https://www.geoportal-mv.de/portal/</a> (Geodaten),</li>
                        <li><a href="https://www.lung.mv-regierung.de/" target="_blank">https://www.lung.mv-regierung.de/</a> (Umweltdaten)</li>
                        <li>Niedersachsen (nur Geodaten): <a href="http://www.geodaten.niedersachsen.de/startseite/" target="_blank">http://www.geodaten.niedersachsen.de</a></li>
                        <li>Nordrhein-Westfalen: <a href="https://open.nrw/de/dat_kat" target="_blank">https://open.nrw/de/dat_kat</a></li>
                        <li>Rheinland-Pfalz: <a href="https://daten.rlp.de/" target="_blank">https://daten.rlp.de/</a></li>
                        <li>Saarland (nur Geodaten): <a href="http://geoportal.saarland.de/portal/de/" target="_blank">http://geoportal.saarland.de/portal/de/</a></li>
                        <li>Sachsen: <a href="http://www.opendata.sachsen.de/" target="_blank">http://www.opendata.sachsen.de/</a></li>
                        <li>Sachsen-Anhalt: Kein Datenportal</li>
                        <li>Schleswig-Holstein (nur Geodaten): <a href="http://www.schleswig-holstein.de/DE/GDISH/Geoportal/geoportal_node.html" target="_blank">http://www.schleswig-holstein.de</a></li>
                        <li>Thüringen (nur Geodaten): <a href="http://www.geoportal-th.de/" target="_blank">http://www.geoportal-th.de/</a></li>
                    </ul>
                        </p>

                        <p>In einigen Bundesländern gibt es nur Geodaten als offene Daten – also die Umrisse von Landkreisen oder ähnliches. Für einfache Anfragen (wie eben Landkreisumrisse) ist man auf <a href="http://opendatalab.de/projects/geojson-utilities/" target="_blank">http://opendatalab.de</a> eventuell sogar besser beraten.
                            Wie oben erwähnt, gibt es noch sehr viele andere Datenbereitsteller – z.B. Firmen, die öffentliche Infrastruktur bereitstellen, also Verkehrsbetriebe, Stadtwerke etc. Als ein überregionales Beispiel sei hier das Open Data-Portal der <a href="http://data.deutschebahn.com/" target="_blank">Deutschen Bahn</a> genannt.</p>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- include leitfaden section -->
{% include sections/leitfaden.liquid %}



