<!-- leitfaden -->
<div class="row">
    <section id="intro" class="section bg-red col-xs-24">
        <div class="text-wrap text-block bg-white">
            <p>Sie möchten diese Tools nutzen, um auch Daten aus ihrer Gemeinde oder Stadt zu visualisieren? In den Anleitungen finden Sie Informationen, was Sie benötigen und wie Sie vorgehen müssen. Der verfügbare <a href="{{ site.baseurl }}/assets/downloads/datenmachenschule_leitfaden.pdf" target="_blank">Leitfaden</a> enthält die dargestellten Informationen zum mitnehmen.</p>
        </div>
    </section>
</div>