<!-- hero -->
<div class="row">
    <section class="hero col-xs-24">
        {% for quote in quotes %}
            <div class="quote">{{ quote }}</div>
        {% endfor %}
        <div class="dots">
            <!-- dots get appeded by JS -->
        </div>
    </section>
</div>