.ct-series .ct-bar {
  stroke-width: 30px;
  stroke: #f5a623;
}

.ct-label {
  font-size: 17px;
  color: black;
}

.ct-chart-blue .ct-bar {
  stroke: #4a90e2;
}

.ct-chart-green .ct-bar {
  stroke: #50e3c2;
}

.ct-bar-label {
  fill: #fff;
  font-weight: bold;
}

.school-chart {
  display: inline-block;

  h2 {
    text-align: center;
  }

  .ct-series .ct-bar {
    stroke-width: 40px;
  }

}

.ct-chart-overview {
  .ct-bar-label {
    fill: #000;
    font-weight: normal;
  }
}

.viz-container {
  width: 30em;
  max-width: 100%;

  h2 {
    font-weight: bold;
  }
}

.chart-school-list {
  list-style: none;
  li {
    float:left;
    margin-right: 40px;
  }
}

.charts {
  margin-top: 20px;
}