---
layout: default
title: Offener Haushalt
permalink: /tools/energieverbrauchsdaten/
---

<!-- include hero  -->
{% assign quotes = "Energieverbrauchsdaten" | split: '|' %}
{% include partials/hero.liquid  %}

<div class="row">
	<section class="section bg-grey col-xs-24">
	        <div class="text-wrap text-block bg-white fade-in">
            <p> 
            Die unten stehende Visualisierung zeigt den Energieverbrauch (Strom, Wasser, Heizung) in vier Moerser Gymnasien. Der Prototyp dieser Anwendung wurde in Zusammenarbeit mit den Schülen in Moers entwickelt, und ist unter diesem <a href="http://download.moers.de/OpenDataSchule/default.html">Link</a> zu finden. Mithilfe des Tools ist eine granulare Darstellung der Energieverbrauchsdaten in Schulen möglich, die gleichzeitig einen direkten Bezug zu der Umwelt der Schüler hat, da sie die jeweiligen Schulen selbst besuchen. 
            </p>
            <p>
            Eine weitere Version dieses Tools, die den Datenupload über ein einfaches Spreadsheet erlaubt, ist in Arbeit. Damit könnten Interessierte in wenigen Schritten ihre eigenen Daten hinzufügen, um die daraus resultierenden Visualisierungen im Unterricht zu diskutieren. Die in Moers entwickelten Aufgabenkonzepte stehen unten.
            </p>
            <p>
            Eine weitere Ansicht zeigt Verbrauchsdaten für die individuellen Schulen, diese ist <a class="btn-read-more" href="/tools/energieverbrauchsdaten/schulen">hier zu finden.</a>
        </div>
		<div class="text-wrap text-block bg-white fade-in">
			<div class="app-container" ng-app="App" ng-controller="MainCtrl">
				<div class="menu-container">
					<h1>Alle Schulen im Vergleich:</h1>
					<p>
						<a ng-click="select_category('Wasser')" ng-class="{active_cat: category == 'Wasser'}">Wasser</a>
						<a ng-click="select_category('Strom')" ng-class="{active_cat: category == 'Strom'}">Strom</a>
						<a ng-click="select_category('Heizung')" ng-class="{active_cat: category == 'Heizung'}">Heizung</a>
					</p>
					<p>
						<a ng-click="select_relation('absolute')" ng-class="{active_cat: relation == 'absolute'}">Absolut</a>
						<a ng-click="select_relation('ground')" ng-class="{active_cat: relation == 'ground'}">Pro Quadratmeter</a>
					</p>
				</div>
				<h1>{{category}}</h1>
				<div class="viz-container" ng-repeat="school in bardata">
					<h2 ng-bind="school.name"></h2>
					<chartist class="ct-chart ct-chart-overview" chartist-data="school.bardata" chartist-chart-type="Bar"
							  chartist-chart-options="chart.options" chartist-events="chart.events"></chartist>
				</div>
			</div>
		</div>
	</section>
</div>
<div class="row">
	<section class="section bg-red col-xs-24">
		<div class="text-wrap text-block bg-white fade-in">
			<p>Fragestellungen für den Politik- oder Sozialkunde-Unterricht:</p>
			<ol>
			<li>Vergleicht den Energieverbrauch der Gymnasien in Moers! (Gruppe 1: Wasser, Gruppe 2: Heizung, Gruppe 3: Strom)</li>
			<li>In welchem Gymnasium werden am meisten/wenigsten Ressourcen verbraucht?</li>
			<li>Welche Gründe kann es für die Unterschiede beim Energieverbrauch geben?</li>
			<li>Sind die Werte der Schulen vergleichbar? Falls nein, ermittelt vergleichbare Werte!</li>
			<li>Welche Maßnahmen können ergriffen werden, um Energie zu sparen? (Internetrecherche)?</li>
			</ol>
		<p> Diese Webseite ist Teil des Projekts DatenmachenSchule. Es ist aus der Motivation entstanden, mit offenen Daten digitale Werkzeuge zur Nutzung im Unterricht entstanden. Um mehr über das Projekt und die Idee dahinter zu erfahren, besuche DatenmachenSchule.de. Dort gibt es andere Tools wie OffenerHaushalt und Energieverbrauch, so wie einen Leitfaden, der in das Thema ‘Offene Daten’ einführt und Ideen zu weiteren Anwendungen liefert.</p>
 		</p>
		</div>
	</section>
</div>