/*********************
HERO
*********************/

.hero {
  height: 98vh;
}

/*********************
PAGE & SECTIONS
*********************/

.page-wrap{
  a, p, li {
    font-size: 1.6rem;
  }
  blockquote{
    font-size: 2.5rem;
  }
  p {
    line-height: 1.6em;
  }

  ol{

    &.timeline{

      li{
        &:before {
          width: 39px;
          height: 39px;
        }
        &:after {
          top:39px;
        }

      }
    }

  }

}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/


h1, .h1 {
  font-size: 3rem;
}

h2, .h2 {
  font-size: 2.25rem;
}

h3, .h3 {
  font-size: 2rem;
}

h4, .h4 {
  font-size: 1.25rem;
}

h5, .h5 {
  font-size: 0.846rem;
}

.text-block{

  margin: 100px auto;
  padding: 100px;
}

.text-wrap, .accordion{
  width: 800px;
}

/*********************
ACCORDION
*********************/

.accordion{
  .accordion-content{

    overflow: hidden;
    height: 0;

    .accordion-content-inner{
      padding: 100px;
    }
  }
}

/*********************
MAIN NAV
*********************/

ul.main-nav {
  li {
    margin-right: 60px;
  }
}


/*********************
LAYOUT & GRID STYLES
*********************/

/* see partials/_bootstrap-grid24.scss */

.section{

  &.section-offener-haushalt{
    background: url($baseurl + '/assets/img/static/tools/DatenmachenSchule_offenerhaushalt.svg') no-repeat;
    background-size: cover;
    background-position: center;
  }

  &.section-wahlergebnisportal{
    background: url($baseurl + '/assets/img/static/tools/DatenmachenSchule_wahlergebnisportal.svg') no-repeat;
    background-size: cover;
    background-position: center;
  }

  &.section-energieverbrauchsdaten{
    background: url($baseurl + '/assets/img/static/tools/DatenmachenSchule_energieverbrauchsdaten.svg') no-repeat;
    background-size: cover;
    background-position: center;
  }

}

/*********************
read more
*********************/

.tool-read-more {
  .headline-read-more {
    font-size: 4.25em;
    width: 100%;
  }
}

/*********************
FOOTER STYLES
*********************/

.footer {
  .footer-inner {

    padding: 75px;

    .footer-content {

      h3{
        font-size: 1.5em;
      }

      a {
        &.logo{

        }
      }
    }
  }
}
