/*********************
HEADER STYLES
*********************/

.header{

  background-color: transparent;
  height: $header-height;
  position: absolute;

  .header-inner{

    .logo{

      font-size: 1.875em;
      margin-left: 30px;

    }
  }

}


/*********************
MAIN NAV
*********************/

ul.main-nav{

  overflow: unset;

  .main-nav-inner{
    padding: 0px;
  }

  li {

    &.has-submenu {

      a {
        &:after {
          float: right;
          margin-left: 15px;
          position: relative;
          top: 0;
        }
      }
    }
  }

  max-height: none;
  &.open{
    max-height: none;
  }

  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 3px;

  width: auto;
  background-color: transparent;
  border-bottom: 0px solid $primary-color;

  li{
    display: inline-block;
    float: left;
    margin-right: 25px;
    margin-bottom: 0px;

    &:last-of-type{
      margin-right: 0;
    }

  }

  ul.submenu {
    position: absolute;
    padding: 30px 20px 20px 20px;
    margin-left: -20px;
    background-color: white;
    display: none;
  }
}

.nav-toggle{
  display: none;
}