/*********************
HEADER STYLES
*********************/

.header{

  background-color: transparent;
  height: $header-height;
  position: absolute;

  .header-inner{

    .logo{

      font-size: 1.875em;
      margin-left: 30px;

    }
  }

}


/*********************
MAIN NAV
*********************/

ul.main-nav{

  overflow: unset;

  .main-nav-inner{
    padding: 0px;
  }

  max-height: none;
  &.open{
    max-height: none;
  }

  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 3px;

  width: auto;
  background-color: transparent;
  border-bottom: 0px solid $primary-color;

  li{
    display: inline-block;
    float: left;
    margin-right: 25px;
    margin-bottom: 0px;

    &:last-of-type{
      margin-right: 0;
    }

  }

  ul.submenu {
    position: absolute;
  }
}

.nav-toggle{
  display: none;
}

/*********************
PAGE & SECTIONS
*********************/

.page-wrap{
  a, p, li {
    font-size: 1.4rem;
  }
  blockquote{
    font-size: 2.3rem;
  }
  p {
    line-height: 1.6em;
  }
}

/*********************
LAYOUT & GRID STYLES
*********************/

/* see partials/_bootstrap-grid24.scss */

.section {

  &.first {
    padding-top: 50px;
  }
}

/*********************
QUOTES
*********************/

.quote{
  font-size: 5em;
  width: 75%;
}