/*********************
MAIN NAV
*********************/

ul.main-nav{
  li {
    margin-right: 50px;
  }
}

.quote{
  font-size: 6em;
  -moz-text-stroke-width: 2.25px;
  -webkit-text-stroke-width: 2.25px;
}
