/*********************
LAYOUT & GRID STYLES
*********************/

/* see partials/_bootstrap-grid24.scss */

.section {

  &.first {
    padding-top: 75px;
  }
}

/*********************
FOOTER STYLES
*********************/

.footer {
  .footer-inner {

    padding: 75px;

    .footer-content {

      h3{

      }

      a {
        &.logo{
          img{
            height: 70px;
          }
        }
      }
    }
  }
}
