/*********************
LAYOUT & GRID STYLES
*********************/

/* see partials/_bootstrap-grid24.scss */

.section {

  &.first {
    padding-top: 75px;
  }
}

/*********************
FOOTER STYLES
*********************/

.footer {
  .footer-inner {
    .footer-content {
      a {
        &.logo-wrap {
          padding: 0 25px 25px 0;
        }
        &.logo-row-first{
          height: 138px;
        }
      }
    }
  }
}